body {
    background-color:paleturquoise;
}

h2 {
    font-size: 300%;
    text-align: center;
    color: darkblue;
}

.intro{
    font-size: 180%;
    text-align:center;
    color:darkblue;
       
}

.topnav {
    background-color: #021133;
    overflow: hidden;
    text-align:center;
}

    /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

        /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

        /* Add a color to the active/current link */
.topnav a.active {
    background-color: darkblue;
    color: white;
}

#paboutme{
font-size: 150%;
text-align:center;
color: darkblue;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: darkblue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 120%;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #e0f0ff;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    text-align:center;
    font-size: 110%;
}
 


